<header class="animate-slide-down">
  <h1 class="home-button animate-fade-in" (click)="navigateToHome()">
    <img src="assets/logo/logo-Zeal.jpg" alt="Zeal Logo" class="logo-img">
  </h1> 
  <nav>
    <a routerLink="/about" routerLinkActive="active">Nosotros</a>
    <a routerLink="/our-services" routerLinkActive="active">Servicios</a>
  </nav>

  <!-- Sección de Login -->
  <div class="login-section">
    <a routerLink="/login" class="login-btn">Iniciar Sesión</a>
    <a routerLink="/register" class="register-btn">Registrarse</a>
  </div>
</header>
