<header>
  <h1 class="home-button" (click)="navigateToHome()">
    <img src="assets/logo/logo-Zeal.jpg" alt="Zeal Logo" class="logo-img">
  </h1>

  <nav>
    <a routerLink="/team" routerLinkActive="active">Nosotros</a>
    <a routerLink="/our-services" routerLinkActive="active">Servicios</a>
  </nav>

  <div class="login-section">
    <a routerLink="/login" class="login-btn" routerLinkActive="active">Iniciar Sesión</a>
    <a routerLink="/register" class="register-btn" routerLinkActive="active">Registrarse</a>
  </div>
</header>
