<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="login.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

    <div class="modal-backdrop">
        <div class="login-modal">
          <!-- Botón para cerrar el modal -->
          <button class="close-btn" (click)="closeModal()">×</button>
          
          <h2>Iniciar Sesión</h2>
          <form (submit)="onLogin($event)">
            <input type="text" placeholder="Usuario o correo" required>
            <input type="password" placeholder="Contraseña" required>
            <button type="submit">Entrar</button>
          </form>
          <div class="link">
            <a (click)="showRegisterMessage()" class="link login-link" role="button" tabindex="0">
              ¿No tienes cuenta? <strong>Regístrate</strong>
            </a>
          </div>
          <!-- Mensaje de inicio de sesión -->
          <div *ngIf="loginMessage" class="login-message">
            <p>{{ loginMessage }}</p>
          </div>
        </div>
      </div>
      
      <script>
        this.registerMessage = 'Usuario registrado exitosamente. Redirigiendo a la página de registro...';
      </script>
      
</body>
</html>
